html {
    font-family: 'CMUSansSerif', serif;
}

#image-container {
  position: relative;
  padding: 10px;
}
#show-img {
  max-width: 100%;
}
.face-frame {
  border: 2px solid #ff0000;
  position: absolute;
}

.canvas-face {
  display: none;
}
.chart-result-profile canvas {
  border-radius: 50px;
}

#head-container {
  font-size: 2.1rem;
}


@media only screen and (max-width: 992px) {
  #head-container {
    text-align: center;
    font-size: 1.8rem;
  }
}
